{% extends 'base.html' %}

{% block title %}Book detail{% endblock %}

{% block content %}
<h2>post detail</h2>

    <table>
    <tr>
        <td><b>Title:</b></td>
        <td>{{ that_one_post.title }}<br></td>
    </tr>
    <tr>
        <td><b>Inhalt:</b></td>
        <td>{{ that_one_post.text }}<br></td>
    </tr>
    <tr>
        <td><b>Author:</b></td>
        <td>{{ that_one_post.author }}<br></td>
    </tr>
    <tr>
        <td><b>Type:</b></td>
        <td>{{ that_one_post.get_type_display }}<br></td>
    </tr>

    <tr>
        <td><b>Date published:</b></td>
        <td>{{ that_one_post.date_published }}<br></td>
    </tr>
    <tr>
        <td><b>Entered by:</b></td>
        <td>{{ that_one_post.user }}<br></td>
    </tr>
    </table>

    <br>
    <a href="../">Back to posts</a>
{% endblock %}